@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;700&display=swap");

:root {
  --white: #fff;
  --semi-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #25232c;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html,
body,
button,
input,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h2 {
  margin-bottom: 30px;

  color: var(--main);
  font-weight: normal;
  font-size: 60px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.overflow {
  overflow: hidden;
}

.main {
  position: relative;

}

.main-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  
  content: "";
}

.species-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  background-size: cover;
  opacity: 1;  
  content: "";
}

.felis {
  background-image: url("../images/felis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.panthera {
  background-image: url("../images/panthera.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.puma {
  background-image: url("../images/puma-back.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.lynx {
  background-image: url("../images/lynx-back.avif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.caracal {
  background-image: url("../images/caracal.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.leopardus {
  background-image: url("../images/oce-back.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pardofelis {
  background-image: url("../images/borneo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.otocolobus {
  background-image: url("../images/otocolobus.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-white {
  padding: 10px;
  position: absolute;
  right: -150px;
  bottom: 520px;
  size: 25px;
}


.black-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/blackfootedcat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  content: "";
}

.container {
  position: relative;
  z-index: 2;
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-history {
  position: relative;
  width: 1110px;
  height: 700px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.history {
  background-image: url("../images/background-history.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.species {
  background-image: url("../images/species.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.history-2 {
  background-image: url("../images/background-history-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.cat-container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-head {
  z-index: 2;
  font-weight: normal;
  font-size: 72px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.main-text {
  color: var(--main);
}

.backto {
  position: absolute;
  right: -150px;
  bottom: 820px;
  size: 8px;
  color: aliceblue;
  padding: 15px;
  border-radius: 10px/6px;
}

.footer-other {
   position: absolute;
  right: 400px;
  bottom: 20px;
  color: #f1f1f1;
}

hr {
  color: #25232c;
  size: 15px;
}

.history-text {
color: #42413c;
columns: 1;
width: 700px;
}

.text-footer {
  margin-right: 160px;
  font-size: 30px;
  color: #fff;
  padding: 0 10px 0 0;
  margin-top: 100px;
	font-size: 30px;
  padding: 35px;
  position: absolute;
  left: -150px;
  bottom: 380px;
  size: 8px;
  line-height: 1.5;
}

.map {
position: absolute;
top: 85px;
left: 850px;
height: 400px;
}

.map-text {
  position: absolute;
  top: 500px;
  left: 850px;
  font-size: 20px;
  width: 550px;
}

.lybica {
  position: absolute;
  top: 650px;
  left: 850px;
  height: 400px;
  }

  .lybica-text {
    position: absolute;
    top: 1070px;
    left: 850px;
    font-size: 20px;
    width: 550px;
  }

.text {
  margin-right: 160px;
  font-size: 30px;
  width: 550px;
}

.text p {
  display: inline;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
	padding: 0 10px 0 0;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 25px;
}

.text-history {
  margin-right: 160px;
  font-size: 30px;
  color: #fff;
  padding: 0 10px 0 0;
  margin-top: 100px;
	font-size: 30px;
  padding: 35px;
  position: absolute;
  left: -150px;
  bottom: 180px;
  size: 8px;
  line-height: 1.5;

}

.text-species {
  margin-right: 160px;
  font-size: 30px;
  color: #fff;
  padding: 0 10px 0 0;
  margin-top: 50px;
	font-size: 30px;
  padding: 35px;
  position: absolute;
  left: -150px;
  bottom: 480px;
  size: 8px;
  line-height: 1.5;

}

.mt-55 {
  margin-top: 55px;
}

.details {
width: 300px;
  display: block;
  margin-top: 35px;
  margin-left: -10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;


  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--main);
}

.button-back {
background-color: rgb(224, 90, 41);

}

.mb-30 {
  margin-bottom: 30px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.main-theme {
}

.mb-200 {
  margin-bottom: -200px;
}

.background-main-dark {
  background-color: var(--main-dark);
}

.background-main-brown {
  background-color: var(--brown);
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
}

.flex-wrap > * {
  flex: 1 1 30%;
  box-sizing: border-box;
}

.pt-100 {
  padding-top: 100px;
}

.navigation-title {
  margin-bottom: 0;

  color: var(--white);
  font-size: 42px;
}

.background-light {
  background-color: var(--light);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  content: "";
}

.types {
  display: block;
  padding: 24px;
  background-color: var(--light);
  transition: 0,5s;
}

.types:hover {
  color: var(--white);
  background-color: var(--main);
}

.cat-header {
  position: relative;
  padding: 10px;
  width: 100px;
  background-color: var(--light);
}

.number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.card-title {
  margin-bottom: 16px;
  color: var(--main);
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.types:hover .card-title {
  color: var(--white);
}

.white-text {
  color: var(--semi-white);
}

.subscription {
  align-items: center;

  height: 190px;
  padding: 0 55px;
  margin-top: 155px;
  column-gap: 20px;
}

.subscription > * {
  flex: 1 1 50%;
}

.subscription-title {
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.submit {
  position: relative;
  width: 70px;
  height: 50px;
}

.submit::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--main);
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.mt-10 {
  margin-top: 10px;
}

.section-title {
  margin-bottom: 30px;
  color: var(--dark);
  font-weight: normal;
  font-size: 60px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.section-title-light {
  margin-bottom: 30px;

  color: var(--white);
  font-weight: normal;
  font-size: 60px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.addition-text {
  font-size: 12px;
}

.ikea-description {
  column-gap: 30px;
}

.img-right {
  vertical-align: middle;
}

.type-description-left {
  position: relative;
}


.type-title {
  margin-bottom: 16px;

  color: var(--main-dark);
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.type-title-light {
  margin-bottom: 16px;

  color: var(--white);
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.text-field {
  flex-grow: 1;
  padding: 15px;
}

.contacts {
  margin-top: 60px;
}

.contacts p {
  margin-top: 16px;

  font-size: 14px;
  text-align: center;
}

.blue-text {
  color: var(--blue);
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;    
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 20px;
  font-size: 18px;
  background-image: url('../images/button-up.png');
  background-size: cover;

 
}

#myBtn:hover {
  background-color: #f5d5b1;
}

@media screen and (max-width: 600px) {

  .history {
  background-image: url("../images/background-history-mobile.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }

 .mobile-text {
  font-size: 30px;
}

.card-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.diamond {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card.diamond img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.diamond p {
  text-align: center;
  padding: 10px;
}


.panel-container * {
  box-sizing: border-box;
}
.panel-container {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  height: 400px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  cursor: pointer;
  position: relative;
  margin: 0 8px;
  transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
}

.panel div {
  text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7);  
  font-family: Verdana, sans-serif;  
  font-weight: bold;  
  font-size: 28px;
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 40px;
  margin: 0;
  transition: opacity 0s ease-in 0s;
}

.panel.active {
  flex: 5;
}

.panel.active div {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media screen and (max-width: 480px) {
  .panel-container {
      position: relative;
  }

  .panel {
      width: 10%;
      position: relative;
      height: 80px;
      top: 0;
      border: 4px solid #FFF;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
      flex: 1;
  }

  .panel.active {
      flex: 1;
      width: 100%;
      position: absolute;
      height: 360px;
      left: 0;
      margin: 40px 0 0;
      z-index: -1;
      box-shadow: none;
}